* {
    font-family: Helvetica "Arial" , sans-serif
}

.para,
.small-para,
.child {
    font-weight: 1000;
}

.para,
.text {
    font-size: 27px;
}

.small-para,
.child {
    font-size: 17px;
}

.confirm {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.cancel {
    background-color: white;
    font-size: 25px;
}